@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

body{
    margin: 0;
    padding: 0;
}
.container{
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.4rem;
}
#heading{
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
    /* margin-top: 0; */
    max-width: 66%;
    margin: auto;
    font-size: 2rem;
    background-color: aqua;
    border-radius: 2rem;
    /* box-sizing: border-box; */
}
#inputDate{
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid slateblue;
   
    height: 28px;
    padding: .5rem 1.5rem;
    font-weight: bold;
    outline: none;
    margin: 0 auto;
    background-color: #ecf0f1;
}

/* .text{
    
} */
#btn{
    /* height: ;  */
     padding: .5rem 2rem;
    font-size: 1rem;
    margin: 1rem;
    border: none;
    font-weight:600;
    font-size: 1.2rem;
    background-color: #ecf0f1;
    border-radius: .4rem;
    transition-duration: .5s;


    
}
#btn:hover{
    cursor: pointer;
    background-color: aquamarine;
    
}